.container {
  position: relative;
  text-align: center;
  color: white;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.header-image {
  max-width: 100%;
}
